site_name: Sovereign Engine
site_description: The Vendor-Agnostic Multi-Tenant Engine for Django.
theme:
  name: material
  palette:
    primary: indigo
    accent: teal
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate

nav:
  - Home: index.md
  - Architecture: architecture.md
  - Integration: integration.md
  - API Reference: api.md

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
